In [1]:
# pandas
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

from sklearn.ensemble import RandomForestClassifier
import csv_io
import scipy

/Users/usmanakhter/miniconda3/envs/tutorial/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
# get titanic & test csv files as a DataFrame
titanic_df = pd.read_csv("../titanic/train.csv")
test_df    = pd.read_csv("../titanic/test.csv")

# preview the data
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [24]:
# Impute the Embarked variable, Fare variable
test_df["Fare"].fillna(test_df["Fare"].median(), inplace=True)

# fill NaN values in Age column with random values generated
titanic_df["Age"].fillna(titanic_df["Age"].median(), inplace=True)
test_df["Age"].fillna(test_df["Age"].median(), inplace=True)

# convert from float to int
titanic_df['Age'] = titanic_df['Age'].astype(int)
test_df['Age']    = test_df['Age'].astype(int)

#family
titanic_df['Family'] =  titanic_df["Parch"] + titanic_df["SibSp"]
test_df['Family'] =  test_df["Parch"] + test_df["SibSp"]

#age
titanic_df["Sex"][titanic_df["Sex"] == "male"] = 0
titanic_df["Sex"][titanic_df["Sex"] == "female"] = 1
test_df["Sex"][test_df["Sex"] == "male"] = 0
test_df["Sex"][test_df["Sex"] == "female"] = 1

#fare
# convert from float to int
titanic_df['Fare'] = titanic_df['Fare'].astype(int)
test_df['Fare']    = test_df['Fare'].astype(int)




print(titanic_df)
print(test_df)

/Users/usmanakhter/miniconda3/envs/tutorial/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/usmanakhter/miniconda3/envs/tutorial/lib/python2.7/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/usmanakhter/miniconda3/envs/tutorial/lib/python2.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     Survived  Pclass Sex  Age  SibSp  Parch  Fare  Embarked  Family
0           0       3   0   22      1      0     7         0       1
1           1       1   1   38      1      0    71         1       1
2           1       3   1   26      0      0     7         0       0
3           1       1   1   35      1      0    53         0       1
4           0       3   0   35      0      0     8         0       0
5           0       3   0   28      0      0     8         2       0
6           0       1   0   54      0      0    51         0       0
7           0       3   0    2      3      1    21         0       4
8           1       3   1   27      0      2    11         0       2
9           1       2   1   14      1      0    30         1       1
10          1       3   1    4      1      1    16         0       2
11          1       1   1   58      0      0    26         0       0
12          0       3   0   20      0      0     8         0       0
13          0       3   0   39      1      5    31         0       6
14          0       3   1   14      0      0     7         0       0
15          1       2   1   55      0      0    16         0       0
16          0       3   0    2      4      1    29         2       5
17          1       2   0   28      0      0    13         0       0
18          0       3   1   31      1      0    18         0       1
19          1       3   1   28      0      0     7         1       0
20          0       2   0   35      0      0    26         0       0
21          1       2   0   34      0      0    13         0       0
22          1       3   1   15      0      0     8         2       0
23          1       1   0   28      0      0    35         0       0
24          0       3   1    8      3      1    21         0       4
25          1       3   1   38      1      5    31         0       6
26          0       3   0   28      0      0     7         1       0
27          0       1   0   19      3      2   263         0       5
28          1       3   1   28      0      0     7         2       0
29          0       3   0   28      0      0     7         0       0
..        ...     ...  ..  ...    ...    ...   ...       ...     ...
861         0       2   0   21      1      0    11         0       1
862         1       1   1   48      0      0    25         0       0
863         0       3   1   28      8      2    69         0      10
864         0       2   0   24      0      0    13         0       0
865         1       2   1   42      0      0    13         0       0
866         1       2   1   27      1      0    13         1       1
867         0       1   0   31      0      0    50         0       0
868         0       3   0   28      0      0     9         0       0
869         1       3   0    4      1      1    11         0       2
870         0       3   0   26      0      0     7         0       0
871         1       1   1   47      1      1    52         0       2
872         0       1   0   33      0      0     5         0       0
873         0       3   0   47      0      0     9         0       0
874         1       2   1   28      1      0    24         1       1
875         1       3   1   15      0      0     7         1       0
876         0       3   0   20      0      0     9         0       0
877         0       3   0   19      0      0     7         0       0
878         0       3   0   28      0      0     7         0       0
879         1       1   1   56      0      1    83         1       1
880         1       2   1   25      0      1    26         0       1
881         0       3   0   33      0      0     7         0       0
882         0       3   1   22      0      0    10         0       0
883         0       2   0   28      0      0    10         0       0
884         0       3   0   25      0      0     7         0       0
885         0       3   1   39      0      5    29         2       5
886         0       2   0   27      0      0    13         0       0
887         1       1   1   19      0      0    30         0       0
888         0       3   1   28      1      2    23         0       3
889         1       1   0   26      0      0    30         1       0
890         0       3   0   32      0      0     7         2       0

[891 rows x 9 columns]
     PassengerId  Pclass Sex  Age  SibSp  Parch  Fare Embarked  Family
0            892       3   0   34      0      0     7        Q       0
1            893       3   1   47      1      0     7        S       1
2            894       2   0   62      0      0     9        Q       0
3            895       3   0   27      0      0     8        S       0
4            896       3   1   22      1      1    12        S       2
5            897       3   0   14      0      0     9        S       0
6            898       3   1   30      0      0     7        Q       0
7            899       2   0   26      1      1    29        S       2
8            900       3   1   18      0      0     7        C       0
9            901       3   0   21      2      0    24        S       2
10           902       3   0   27      0      0     7        S       0
11           903       1   0   46      0      0    26        S       0
12           904       1   1   23      1      0    82        S       1
13           905       2   0   63      1      0    26        S       1
14           906       1   1   47      1      0    61        S       1
15           907       2   1   24      1      0    27        C       1
16           908       2   0   35      0      0    12        Q       0
17           909       3   0   21      0      0     7        C       0
18           910       3   1   27      1      0     7        S       1
19           911       3   1   45      0      0     7        C       0
20           912       1   0   55      1      0    59        C       1
21           913       3   0    9      0      1     3        S       1
22           914       1   1   27      0      0    31        S       0
23           915       1   0   21      0      1    61        C       1
24           916       1   1   48      1      3   262        C       4
25           917       3   0   50      1      0    14        S       1
26           918       1   1   22      0      1    61        C       1
27           919       3   0   22      0      0     7        C       0
28           920       1   0   41      0      0    30        S       0
29           921       3   0   27      2      0    21        C       2
..           ...     ...  ..  ...    ...    ...   ...      ...     ...
388         1280       3   0   21      0      0     7        Q       0
389         1281       3   0    6      3      1    21        S       4
390         1282       1   0   23      0      0    93        S       0
391         1283       1   1   51      0      1    39        S       1
392         1284       3   0   13      0      2    20        S       2
393         1285       2   0   47      0      0    10        S       0
394         1286       3   0   29      3      1    22        S       4
395         1287       1   1   18      1      0    60        S       1
396         1288       3   0   24      0      0     7        Q       0
397         1289       1   1   48      1      1    79        C       2
398         1290       3   0   22      0      0     7        S       0
399         1291       3   0   31      0      0     7        Q       0
400         1292       1   1   30      0      0   164        S       0
401         1293       2   0   38      1      0    21        S       1
402         1294       1   1   22      0      1    59        C       1
403         1295       1   0   17      0      0    47        S       0
404         1296       1   0   43      1      0    27        C       1
405         1297       2   0   20      0      0    13        C       0
406         1298       2   0   23      1      0    10        S       1
407         1299       1   0   50      1      1   211        C       2
408         1300       3   1   27      0      0     7        Q       0
409         1301       3   1    3      1      1    13        S       2
410         1302       3   1   27      0      0     7        Q       0
411         1303       1   1   37      1      0    90        Q       1
412         1304       3   1   28      0      0     7        S       0
413         1305       3   0   27      0      0     8        S       0
414         1306       1   1   39      0      0   108        C       0
415         1307       3   0   38      0      0     7        S       0
416         1308       3   0   27      0      0     8        S       0
417         1309       3   0   27      1      1    22        C       2

[418 rows x 9 columns]

/Users/usmanakhter/miniconda3/envs/tutorial/lib/python2.7/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
X_train = titanic_df[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch"]].values
#X_train = titanic_df.drop("Survived",axis=1)
Y_train = titanic_df["Survived"]
X_test  = test_df.drop("PassengerId",axis=1).copy()
test_features = test_df[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch"]].values


# Random Forests

random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(X_train, Y_train)

#Y_pred = random_forest.predict(X_test)
Y_pred = random_forest.predict(test_features)


random_forest.score(X_train, Y_train)

0.95286195286195285

In [30]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('titanic.csv', index=False)